<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gamya :D</title>
    <link rel="icon" href="../Assets/favicon.ico" type="image/x-icon">
    <!-- Alternative formats -->
    <!-- <link rel="icon" href="path/to/your/favicon.png" type="image/png"> -->
    <!-- <link rel="icon" href="path/to/your/favicon.svg" type="image/svg+xml"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #222222; /* dark background */
            color: #495057; /* Dark gray text */
        }
        .container {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff; /* White container background */
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        h1, h2 {
            text-align: center;
            margin-bottom: 20px;
            color: #007bff; /* Blue heading color */
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        th, td {
            padding: 12px;
            border: 1px solid #dee2e6; /* Light border */
            text-align: left;
        }
        tr:nth-child(even) {
            background-color: #f1f3f5; /* Lighter row background */
        }
        th {
            background-color: #007bff; /* Blue header background */
            color: #fff; /* White text for header */
        }
        button {
            background-color: #007bff; /* Blue button background */
            color: #fff; /* White text for button */
            border: none;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 10px;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }
        button:hover {
            background-color: #0056b3; /* Darker blue on hover */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>User Database</h1>
        <h2>Users Table</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Birthday</th>
                    <th>Password</th>
                    <th>Available</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Parties Table</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Leader</th>
                    <th>Usernames</th>
                </tr>
            </thead>
            <tbody>
                {% for party in parties %}
                <tr>
                    <td>{{ party[0] }}</td>
                    <td>{{ party[1] }}</td>
                    <td>{{ party[2] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Lobbies Table</h2>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usernames</th>
                    <th>Game</th>
                    <th>Scores</th>
                    <th>State</th>
                </tr>
            </thead>
            <tbody>
                {% for lobby in lobbies %}
                <tr>
                    <td>{{ lobby[0] }}</td>
                    <td>{{ lobby[1] }}</td>
                    <td>{{ lobby[2] }}</td>
                    <td>{{ lobby[3] }}</td>
                    <td>{{ lobby[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <form action="/refresh" method="GET">
            <button type="submit">Refresh</button>
        </form>
    </div>
</body>
</html>